#tieude{
	text-transform:uppercasa;
	text-size:36px;
	color:blue;
}
#hoten{
	text-transform:uppercasa;
	text-size:36px;
	color:skyblue;
}
ul,ol{
	margin: 15px 0px;
	lít-style-type:none;
	lít-style-position:inside;
	max-width:500px;
}
 li{
	 padding:10px;
	 border-bottom:2px solid green;
 }